@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

#headerTop
	background: $first

.left-side a 
	text-decoration: none
	color: #000

.pos-set-right
	text-align: right
	padding: 10px
	a
		text-decoration: none
		color: #000
	
.header-item-right 
	margin: 30px

#headerTop .primary-btn
	background: linear-gradient(to right, #42F05C, #69cb6a)
	padding: 12px
  text-align: center
		
.left-side
	margin: 8px 0 0 0 
	text-transform: uppercase
	font-weight: 400
	i 
	 padding: 5px
	 font-size: 20px
	 color: $accent


.owl-carousel 
	position: relative
.owl-carousel .owl-item 
  opacity: .4
.owl-carousel .owl-item.active 
  opacity: 1


.owl-carousel .owl-dots 
  text-align: center

.owl-carousel .owl-dots .owl-dot 
  width: 10px
  height: 10px
  margin: 5px
  border-radius: 50%
  background: #e6e6e6
  position: relative

.btn-secondary
	color: #000
	font-size: 20px
	transition: color .2s ease

.btn-secondary:hover
	color: $accent
	text-decoration: none

.home-slider p a 
	text-decoration: none

.text 
	line-height: 40px
	margin-top: 50px

.owl-carousel .owl-dots .owl-dot:after 
  position: absolute
  top: -2px
  left: -2px
  right: 0
  bottom: 0
  width: 14px
  height: 14px
  content: ''
  border: 1px solid #e6e6e6
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -ms-border-radius: 50%
  border-radius: 50%

.owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus 
  outline: none !important

.owl-carousel .owl-dots .owl-dot.active 
  background: #b3b3b3

.owl-carousel.home-slider 
  position: relative
  height: 600px
  z-index: 0

.owl-carousel.home-slider .slider-item 
  background-size: cover
  background-repeat: no-repeat
  background-position: top center
  height: 600px
  position: relative
  z-index: 0

#feature-area
	margin-top: 130px

.item-padding
	padding: 40px 20px

.single-feature 
	background: #f9f9fd

.single-feature h1
	text-transform: uppercase
	font-size: 20px

#about-area
	margin-top: 130px

.about-center
	background: #f9f9fd
	height: 417px

.about-center h2
	font-size: 25px
	text-transform: uppercase
	margin-bottom: 30px
	padding-top: 50px

.about-bg
  background-size: cover
  position: absolute
  right: 45%
  height: 100%
  width: 55%

#patient-area
	margin-top: 130px
	background-color: #e1e7fa
	height: 500px

.patient-mid
	text-align: center
	h3
		font-size: 24px
		text-transform: uppercase
		padding-top: 50px

.left-contacts
	margin-top: 40px

.left-contacts span
	display: block
	padding-bottom: 7px

		
.left-contacts span i 
	color: $first
	margin: 0 8px 0 0 



.main_form
	padding-left: 100px
	button
		border: none
		color: #fff
		background-color: $first
		line-height: 40px
		font-size: 13px
		text-transform: uppercase
		font-weight: 400
		width: 100px
		cursor: pointer
		position: absolute
		right: 32%
		bottom: 23%
	.text-danger
		font-size: 11px
		margin-top: 15px
		display: block
		ul,
		li
			margin: 0
			padding: 0
			list-style-type: none
input,
textarea
	width: 100%
	border: 1px solid #ccc
	margin-top: 5px
	line-height: 40px
	text-indent: 12px
	font-size: 12px
	background-color: transparent
.form-group
	color: #000

@import "media" // Always at the end
